{% extends "_layouts/auth.njk" %}

{% block body %}
    <form action="/signin" method="post">
        
        <img src="/images/logo.svg" height="42" />

        {% for error in flashError %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}

        <input type="text" name="email" placeholder="Seu e-mail" />
        <input type="password" name="password" placeholder="Senha" />

        <button type="submit">Logar</button>
        <a href="/signup">Me cadastrar grátis</a>
    </form>

{% endblock %}